*{
    background-color: #222222;
    color: #cccccc;
}
ul{
    list-style-type: square;
}
.miniaturaClases{

    display: inline;
}
.miniaturaClases img{
    width: 300px;
}
#cursos{
    margin-left: 10%;
    padding-right: 10%;
}
main{
    position: absolute  ;
    width: 70%;
    padding-bottom: 15em;
}

aside{
    margin-left: 75%;
    width: 30%;
    position:absolute;
    top: 139%;
}
aside img{
    width: 260px;
}
audio{
    width: 260px;
}
footer{
    position: relative;
    top: 75em;
    z-index: 500;
    margin-bottom: -1%;
    padding-bottom: 2%;
    width: 100vw;
    margin-left: -10px;
    padding-left: 5px;
    padding-top: 3px;

    background-color: #333333;

}
footer *{
    background-color: #333333;

}


h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: -25px;
}
header section h2{

    text-align: center;
    font-size: 30px;
}

header section p{

    text-align: center;
    font-size: 40px;
}
header nav{
    margin-left: -10px;
    width: 110%;
    position: fixed;
    margin-top: -20%;
    padding-top: 15%;
    background-color: #333333;
    height: 45px;
    z-index: 1000;
}
header nav ul{
    background-color: inherit;
    text-align: center;
    margin-left: -17%;
}
header nav li{
    display: inline;
    margin-left: 5%;
    background-color: inherit;
    
}
header nav a{
    background-color: inherit;

}

