*{
    background-color: #222222;
    color: #eeeeee;
    font-size: large;
}
header nav{
    margin-left: -10px;
    width: 110%;
    position: fixed;
    margin-top: -15px;

    background-color: #333333;
    height: 45px;
    z-index: 1000;
}
header nav ul{
    background-color: inherit;
    text-align: center;
    margin-left: -17%;
}
header nav li{
    display: inline;
    margin-left: 5%;
    background-color: inherit;
    
}
header nav a{
    background-color: inherit;

}
fieldset{
    width: 30%;
}

#fieldsetIzq{
    position: absolute;
    margin-left: 35%;   
    top: 34%;
}

#contactanos{
    padding-top: 20px;
}
h1{
    font-size: 35px;
    margin-left: 20%
}
span{
    margin-left: 11%;
}
.superior{
    margin-left: 12%;
}

input{
    background-color: #555555;
}
input::placeholder{
    
    color: #cccccc;
    font-size: 15px;
}
li{
    list-style-type: square;

}
footer{
    margin-top: 20px;
    z-index: 500;
    margin-bottom: -1%;
    padding-bottom: 2%;
    width: 100vw;
    margin-left: -10px;
    padding-left: 5px;

    background-color: #333333;

}
footer *{
    background-color: #333333;

}
#totop{
    margin-left: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}
h2{
    font-size: 25px;
}
#infoContacto *{
    margin-top: 10px;
    margin-bottom: 10px;
}
#infoContacto h5{
    font-size: 19px;
    color: #ffffff;
}